/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.st_topLine .bg_img1, .st_topLine p {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.st_topLine li{
		width: 25%;
		margin: 0;
		padding: 0;
	}
}
@media only screen and (max-width: 1020px){
	.st_topLine .bg_img1, .st_topLine p {
		display: inline-block;
		text-align: left;
	}
	.st_topLine li{
		width: 40%;
	}
	.list_profi li{
		text-align: center;
	}
	.s_profi .list_profi .bg_img1{
		display: block;
		margin: 0 auto;
		float: none;
	}
	.s_profi .list_profi{
		max-width: 1020px;
		margin-right: 40px;
	}
}
@media only screen and (max-width: 1175px){
	.s_profi .list_profi,
	.s_profi .form_profi{
		max-width: none;
		width: 100%;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width: 840px){
	.st_topLine li{
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	hgroup h1, hgroup h2{
		text-align: center;
	}
	.top_phone .tab_item{
		font-size: 30px;
	}
	.logo, .top_phone{
		width: 100%;
		float: none;
		text-align: center;
	}
	.top_line{
		margin-bottom: 35px;
	}
	.display_tab{
		display: inline-block;
	}
	.hidden_tab{
		display: none;
	}
	.s_profi h2{
		font-size: 25px;
		margin:0;
		margin-bottom: 15px;
		line-height: 25px;
	}
	.s_profi .list_profi{
		margin: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_header{
		margin-top: 30px;
	}
	
	hgroup h1{
		font-size: 37px;
		line-height:50px;
		text-align: center;
	}
	hgroup h2{
		font-size:27px;
	}
	.tabs_header .tabs .tab{
		font-size: 11px;
		padding: 15px 4.8px; 
	}
	.button_wrap .button {
		font-size: 13px;
		padding: 0 23px;
	}
	.button_wrap {
		text-align: center;
	}
	.tabs_header .tab_content{
		padding: 12px 5px 16px;
	}
	.top_phone .tab_item {
		font-size: 27px;
	}
	.st_topLine p{
		padding-right: 0; 
	}
	.st_topLine span{
		font-size: 10px;
	}
	.st_topLine strong{
		font-size: 17px;
	}
	.s_profi .form_profi .button {
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    padding: 0px;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}