/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media (min-width: 1440px){
}
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
hgroup h1, hgroup h2{
		text-align: center;
	}
.top_phone .tab_item{
	font-size: 30px;
	}
	.logo, .top_phone{
		width: 100%;
		float: none;
		text-align: center;
	}
	.top_line{
		margin-bottom: 35px;
	}
	.display_tab{
		display: inline-block;
	}
	.hidden_tab{
		display: none;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_header{
		margin-top: 30px;
	}
	
	hgroup h1{
		font-size: 37px;
		line-height:50px;
		text-align: center;
	}
	hgroup h2{
		font-size:27px;
	}
	.tabs_header .tabs .tab{
		font-size: 11px;
		padding: 15px 4.8px; 
	}
	.button_wrap .button {
		text-align: center;
		font-size: 13px;
		padding: 0 23px;
	}
	.tabs_header .tab_content{
		padding: 12px 5px 16px;
	}
	.top_phone .tab_item {
    font-size: 27px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}